.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 68px;
  background-color: rgba(216, 125, 125, 0.9);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  transition: all .4s ease;
  overflow: hidden;
  .main-link {
    align-items: center;
    display: flex;
    flex-direction: row;
    .title {
      color: #4b2231;
      font-size: 32px;
      margin: 0;
    }
  }
  .nav-btn {
    margin: 0;
    padding: 0;
    width: 68px;
    border: none;
    background-color: transparent;
    cursor: pointer; 
  }
  .toggle-nav {
    position: absolute;
    top: 68px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    text-align: right;
    font-size: 40px;
    overflow: scroll;
    a {
      position: relative;
      padding: 0 20px;
      color: white;
      font-weight: 600;
      display: block;
      line-height: 60px;
      margin-bottom: 32px;
      background-color: #543e3e;
      opacity: 0;
      border-radius: 8px 2px 2px 8px;
      &::before {
        position: absolute;
        right: -29px;
        content: "";
        width: 30px;
        height: 60px;
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 15px solid #543e3e;
      }
      &:nth-child(even) {
        border-radius:2px 8px 8px 2px;
        &::before {
          right: unset;
          left: -29px; 
          border-left: none;
          border-right: 15px solid #543e3e;
        }
      }
      &:nth-child(1) {
        transition: opacity .4s;
      }
      &:nth-child(2) { 
        transition: opacity .4s;
      }
    }
  }
  .wide-nav {
    display: none;
  }
  &.-open {
    overflow: scroll;
    height: 100vh;
    .toggle-nav {
      a {
        opacity: 1;
      }
    }
  }
  &.-white {
    background-color: rgba(232, 223, 223, 0.9);
  }
}

@media(min-width: 720px) {
  .main-header {
    .toggle-nav, .nav-btn {
      display: none;
    }
    .wide-nav {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      font-size: 18px;
      > * {
        margin-right: 28px;
        color: #4b2231;
      }
    }
  }
}

.top-inner {
  overflow: scroll;
}