.img-view {
  width: 100%;
  height: 100%;
  overflow: hidden;
  .no-image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .no-img-icon {
      width: 80px;
      color: rgb(186, 186, 186);
    }
  }
  .img-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    color: rgb(249, 245, 245);
    text-shadow: 0 0 8px rgba(84, 84, 84, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    z-index: 1;
    background-color: rgba(60, 60, 60, 0.4);
    .title {
      font-size: 22px;
      margin: 0;
    }
    .link-wrap { 
      text-shadow: 0 0 8px rgba(84, 84, 84, 0.7);
      display: flex;
      align-items: center;
      > * {
        margin-left: 12px;
      }
      .site-link {
        color: rgb(249, 244, 244);
        font-size: 18px;
        font-weight: 700;
        &:hover {
          color: rgb(218, 219, 244);
        }
      }
      .github-link {
        color: rgb(249, 244, 244);
        display: flex;
        align-items: center;
        text-shadow: 0 0 8px rgba(84, 84, 84, 0.7);
        &:hover {
          color: rgb(218, 219, 244);
        }
        svg {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}